<md-tab-group>

    <md-tab label="Popups">
        <!-- Dialog -->
        <section>
            <button md-raised-button (click)="toggleCode('dialog')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.dialog" class="example-wrapper">
                <button md-raised-button (click)="openDialog()">Open dialog</button>
                You chose: {{selectedOption}}
            </div>

            <div class="label">Dialog</div>

            <div *ngIf="showCode.dialog" class="example-code" highlight-js-content>
                <pre><code>
                    <h3>In .HTML</h3>
                    &#60;button md-button (click)="openDialog()"&#62;Launch dialog&#60;/button&#62;

                    <hr>

                    <h3>In .TS</h3>
                    selectedOption: string;

                    openDialog() &#123;
                        let dialogRef = this.dialog.open(DialogComponent);
                        dialogRef.afterClosed().subscribe(result => &#123;
                          this.selectedOption = result;
                        &#125;);
                    &#125;

                    <hr>

                    <h3>dialog.component.ts</h3>
                    import &#123;Component&#125; from '@angular/core';
                    import &#123; MdDialogRef &#125; from '@angular/material';

                    @Component(&#123;
                        selector: 'dialog-basic',
                        template: `&#60;h1 md-dialog-title&#62;Dialog&#60;/h1&#62;
                        &#60;div md-dialog-content&#62;What would you like to do?&#60;/div&#62;
                        &#60;div md-dialog-actions&#62;
                            &#60;button md-button md-dialog-close="Option 1"&#62;Option 1&#60;/button&#62;
                            &#60;button md-button md-dialog-close="Option 2"&#62;Option 2&#60;/button&#62;
                        &#60;/div&#62;`,
                    &#125;)
                    export class DialogComponent &#123;
                        constructor(public dialogRef: MdDialogRef&#60;DialogComponent&#62;) &#123;&#125;
                    &#125;

                    <hr>

                    <h3>app.module.ts</h3>
                    import &#123; DialogComponent &#125; from './core/material/dialog.component';

                    @NgModule(&#123;
                        declarations: [ DialogComponent ],
                        entryComponents: [DialogComponent]
                    &#125;)
                    export class AppModule &#123; &#125;


                </code></pre>
            </div>
        </section>

        <!-- Tooltip -->
        <section>
            <button md-raised-button (click)="toggleCode('tooltip')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.tooltip" class="example-wrapper">
                <table>
                    <tr>
                        <td style="padding-right: 50px"><p mdTooltip="Tooltip!" mdTooltipPosition="before">Tooltip before</p></td>
                        <td><p mdTooltip="Tooltip!" mdTooltipPosition="after">Tooltip after</p></td>
                    </tr>
                    <tr>
                        <td><p mdTooltip="Tooltip!" mdTooltipPosition="above">Tooltip above</p></td>
                        <td><p mdTooltip="Tooltip!" mdTooltipPosition="below">Tooltip below</p></td>
                    </tr>
                    <tr>
                        <td><p mdTooltip="Tooltip!" mdTooltipPosition="left">Tooltip left</p></td>
                        <td><p mdTooltip="Tooltip!" mdTooltipPosition="right">Tooltip right</p></td>
                    </tr>
                </table>
            </div>

            <div class="label">Tooltip</div>

            <div *ngIf="showCode.tooltip" class="example-code" highlight-js-content>
                <pre><code>
                    &#60;p mdTooltip="Tooltip!" mdTooltipPosition="before"&#62;Tooltip before&#60;/p&#62;
                    &#60;p mdTooltip="Tooltip!" mdTooltipPosition="after"&#62;Tooltip after&#60;/p&#62;
                    &#60;p mdTooltip="Tooltip!" mdTooltipPosition="above"&#62;Tooltip above&#60;/p&#62;
                    &#60;p mdTooltip="Tooltip!" mdTooltipPosition="below"&#62;Tooltip below&#60;/p&#62;
                    &#60;p mdTooltip="Tooltip!" mdTooltipPosition="left"&#62;Tooltip left&#60;/p&#62;
                    &#60;p mdTooltip="Tooltip!" mdTooltipPosition="right"&#62;Tooltip right&#60;/p&#62;
                </code></pre>
            </div>
        </section>
    </md-tab>

    <md-tab label="Buttons">
        <div class="button-elements">
            <!-- Normal buttons -->
            <section>
                <button md-raised-button (click)="toggleCode('buttons')" color="accent" class="btn-toggle-code">
                    <md-icon>code</md-icon>
                </button>

                <div *ngIf="!showCode.buttons">
                    <button md-button>Button</button>
                    <button md-button color="primary">Primary</button>
                    <button md-button color="accent">Accent</button>
                    <button md-button disabled="true" color="primary">Disabled</button>
                    <button md-button color="warn">Warning</button>
                </div>

                <div class="label">Flat</div>

                <div *ngIf="showCode.buttons" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;button md-button disabled="true" color="primary"&#62;Disabled&#60;/button&#62;
                    </code></pre>
                </div>
            </section>

            <!-- Raised buttons -->
            <section>
                <button md-raised-button (click)="toggleCode('raised')" color="accent" class="btn-toggle-code">
                    <md-icon>code</md-icon>
                </button>

                <div *ngIf="!showCode.raised">
                    <button md-raised-button>Button</button>
                    <button md-raised-button color="primary">Primary</button>
                    <button md-raised-button color="accent">Accent</button>
                    <button md-raised-button disabled="true" color="primary">Disabled</button>
                    <button md-raised-button color="warn">Warn</button>
                </div>

                <div class="label">Raised</div>

                <div *ngIf="showCode.raised" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;button md-raised-button disabled="true" color="primary"&#62;Disabled&#60;/button&#62;
                    </code></pre>
                </div>
            </section>

            <!-- Fab buttons -->
            <section>
                <button md-raised-button (click)="toggleCode('fab')" color="accent" class="btn-toggle-code">
                    <md-icon>code</md-icon>
                </button>

                <div *ngIf="!showCode.fab">
                    <button md-fab>
                        <md-icon>cake</md-icon>
                    </button>
                    <button md-fab color="primary">
                        <md-icon>android</md-icon>
                    </button>
                    <button md-fab color="accent">
                        <md-icon>face</md-icon>
                    </button>
                    <button md-fab disabled="true">
                        <md-icon>comment</md-icon>
                    </button>
                    <button md-fab color="warn">
                        <md-icon>announcement</md-icon>
                    </button>
                </div>

                <div class="label">FAB</div>

                <div *ngIf="showCode.fab" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;button md-fab color="primary"&#62;
                            &#60;md-icon&#62;android&#60;/md-icon&#62;
                        &#60;/button&#62;
                    </code></pre>
                </div>
            </section>

            <!-- Link -->
            <section>
                <button md-raised-button (click)="toggleCode('link')" color="accent" class="btn-toggle-code">
                    <md-icon>code</md-icon>
                </button>

                <div *ngIf="!showCode.link">
                    <a md-button [href]="googleUrl" target="_blank">Default Link</a>
                    <a md-button color="primary" [href]="googleUrl" target="_blank">Primary Link</a>
                    <a md-button color="accent" [href]="googleUrl" target="_blank">Accent Link</a>
                    <a md-button disabled="true" color="primary" [href]="googleUrl" target="_blank">Disabled Link</a>
                    <a md-button color="warn" [href]="googleUrl" target="_blank">Warn Link</a>
                </div>

                <div class="label">Links</div>

                <div *ngIf="showCode.link" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;a md-button disabled="true" color="primary" [href]="googleUrl" target="_blank"&#62;
                            Disabled Link
                        &#60;/a&#62;
                    </code></pre>
                </div>
            </section>

            <!-- Icon buttons -->
            <section >
                <button md-raised-button (click)="toggleCode('icons')" color="accent" class="btn-toggle-code">
                    <md-icon>code</md-icon>
                </button>

                <div *ngIf="!showCode.icons">
                    <button md-button title="Bookmark">
                        <md-icon>bookmark border</md-icon>
                    </button>
                    <button md-button color="primary" title="Settings">
                        <md-icon>menu</md-icon>
                    </button>
                    <button md-button color="accent" title="Favorite">
                        <md-icon>favorite</md-icon>
                    </button>
                    <a md-button href="http://google.com" title="Launch Google.com in new window"
                       target="_blank" disabled="true">
                        <md-icon>launch</md-icon>
                    </a>
                    <button md-button color="warn" title="More">
                        <md-icon>more_vert</md-icon>
                    </button>
                </div>

                <div class="label">Icon Button</div>

                <div *ngIf="showCode.icons" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;button md-button color="accent" title="Favorite"&#62;
                            &#60;md-icon&#62;favorite&#60;/md-icon&#62;
                        &#60;/button&#62;
                        &#60;a md-button href="http://google.com" title="Launch Google.com in new window"
                           target="_blank" disabled="true"&#62;
                            &#60;md-icon&#62;launch&#60;/md-icon&#62;
                        &#60;/a&#62;
                    </code></pre>
                </div>
            </section>

            <!-- Toggle buttons -->
            <section >
                <button md-raised-button (click)="toggleCode('buttonToggle')" color="accent" class="btn-toggle-code">
                    <md-icon>code</md-icon>
                </button>

                <div *ngIf="!showCode.buttonToggle" class="example-wrapper">
                    <md-button-toggle-group #group="mdButtonToggleGroup">
                        <md-button-toggle value="left">
                            <md-icon>format_align_left</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="center">
                            <md-icon>format_align_center</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="right">
                            <md-icon>format_align_right</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="justify" disabled>
                            <md-icon>format_align_justify</md-icon>
                        </md-button-toggle>
                    </md-button-toggle-group>
                </div>

                <div class="label">Button toggle</div>

                <div *ngIf="showCode.buttonToggle" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;md-button-toggle-group #group="mdButtonToggleGroup"&#62;
                            &#60;md-button-toggle value="left"&#62;
                                &#60;md-icon&#62;format_align_left&#60;/md-icon&#62;
                            &#60;/md-button-toggle&#62;
                            &#60;md-button-toggle value="center"&#62;
                                &#60;md-icon&#62;format_align_center&#60;/md-icon&#62;
                            &#60;/md-button-toggle&#62;
                            &#60;md-button-toggle value="right"&#62;
                                &#60;md-icon&#62;format_align_right&#60;/md-icon&#62;
                            &#60;/md-button-toggle&#62;
                            &#60;md-button-toggle value="justify" disabled&#62;
                                &#60;md-icon&#62;format_align_justify&#60;/md-icon&#62;
                            &#60;/md-button-toggle&#62;
                        &#60;/md-button-toggle-group&#62;
                    </code></pre>
                </div>
            </section>
        </div>

    </md-tab>

    <md-tab label="Input elements">
        <!-- Input fields -->
        <section>
            <button md-raised-button (click)="toggleCode('input')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.input">
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Disabled input" disabled value="Some value">
                </md-input-container>

                <md-input-container class="example-full-width">
                    <input mdInput placeholder="First name">
                </md-input-container>

                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Text area">Some text</textarea>
                </md-input-container>

                <md-input-container class="example-full-width">
                    <input mdInput #postalCode maxlength="5" placeholder="Input with hint" value="12345">
                    <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                </md-input-container>
            </div>

            <div class="label">Input</div>

            <div *ngIf="showCode.input" class="example-code" highlight-js-content>
                    <pre><code>
                        &lt;md-input-container class="example-full-width"&gt;
                            &lt;input mdInput placeholder="Disabled input" disabled value="Some value"&gt;
                        &lt;/md-input-container&gt;

                        &lt;md-input-container class="example-full-width"&gt;
                            &lt;input mdInput placeholder="First name"&gt;
                        &lt;/md-input-container&gt;

                        &lt;md-input-container class="example-full-width"&gt;
                            &lt;textarea mdInput placeholder="Text area"&gt;Some text&lt;/textarea&gt;
                        &lt;/md-input-container&gt;

                        &lt;md-input-container class="example-full-width"&gt;
                            &lt;input mdInput #postalCode maxlength="5" placeholder="Input with hint" value="12345"&gt;
                            &lt;md-hint align="end"&gt; &#123; &#123; postalCode.value.length &#125; &#125; / 5&lt;/md-hint&gt;
                        &lt;/md-input-container&gt;
                    </code></pre>
            </div>
        </section>

        <!-- Checkboxes -->
        <section>
            <button md-raised-button (click)="toggleCode('checkbox')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.checkbox" class="example-group">
                <md-checkbox [checked]="true">Checked</md-checkbox>
                <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
                <md-checkbox [disabled]="true">Disabled</md-checkbox>
            </div>

            <div class="label">Checkbox</div>

            <div *ngIf="showCode.checkbox" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;md-checkbox [checked]="true"&#62;Checked&#60;/md-checkbox&#62;
                        &#60;md-checkbox [indeterminate]="true"&#62;Indeterminate&#60;/md-checkbox&#62;
                        &#60;md-checkbox [disabled]="true"&#62;Disabled&#60;/md-checkbox&#62;
                    </code></pre>
            </div>
        </section>

        <!-- Radio buttons-->
        <section>
            <button md-raised-button (click)="toggleCode('radio')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <md-radio-group *ngIf="!showCode.radio" class="example-group" [(ngModel)]="favoriteSeason">
                <md-radio-button *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </md-radio-button>
            </md-radio-group>

            <div class="label">Radio button</div>

            <div *ngIf="showCode.radio" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;md-radio-group class="example-group" [(ngModel)]="favoriteSeason"&#62;
                            &#60;md-radio-button *ngFor="let season of seasons" [value]="season"&#62;
                                &#123; &#123; season &#125; &#125;
                            &#60;/md-radio-button&#62;
                        &#60;/md-radio-group&#62;
                    </code></pre>
            </div>
        </section>

        <!-- Date picker -->
        <section>
            <button md-raised-button (click)="toggleCode('date')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <md-input-container *ngIf="!showCode.date">
                <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>

            <div class="label">Date picker</div>

            <div *ngIf="showCode.date" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;md-input-container&#62;
                            &#60;input mdInput [mdDatepicker]="picker" placeholder="Choose a date"&#62;
                            &#60;button mdSuffix [mdDatepickerToggle]="picker"&#62;&#60;/button&#62;
                        &#60;/md-input-container&#62;
                    </code></pre>
            </div>
        </section>

        <!-- Select -->
        <section>
            <button md-raised-button (click)="toggleCode('select')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div class="example-wrapper" *ngIf="!showCode.select">
                <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                    <md-option *ngFor="let food of foods" [value]="food.id">
                        {{food.name}}
                    </md-option>
                </md-select>
            </div>

            <div class="label">Select</div>

            <div *ngIf="showCode.select" class="example-code" highlight-js-content>
                    <pre><code>
                         &#60;md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food"&#62;
                            &#60;md-option *ngFor="let food of foods" [value]="food.id"&#62;
                                &#123; &#123; food.name &#125; &#125;
                            &#60;/md-option&#62;
                        &#60;/md-select&#62;
                    </code></pre>
            </div>
        </section>

        <!-- Slider -->
        <section>
            <button md-raised-button (click)="toggleCode('slider')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <md-slider *ngIf="!showCode.slider"
                       [min]="0"
                       [max]="10"
                       [step]="1"
                       [thumb-label]="true"
                       [value]="5"
            ></md-slider>

            <div class="label">Slider</div>

            <div *ngIf="showCode.slider" class="example-code" highlight-js-content>
                    <pre><code>
                         &#60;md-slider
                            [min]="0"
                            [max]="10"
                            [step]="1"
                            [thumb-label]="true"
                            [value]="5"
                        &#62;&#60;/md-slider&#62;
                    </code></pre>
            </div>
        </section>

        <!-- Slide toggle -->
        <section>
            <button md-raised-button (click)="toggleCode('toggle')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div class="example-wrapper"  *ngIf="!showCode.toggle">
                <md-slide-toggle color="primary" [checked]="true">
                    Slide me!
                </md-slide-toggle>
            </div>

            <div class="label">Toggle</div>

            <div *ngIf="showCode.toggle" class="example-code" highlight-js-content>
                    <pre><code>
                        &#60;md-slide-toggle color="primary" [checked]="true"&#62;
                            Slide me!
                        &#60;/md-slide-toggle&#62;
                    </code></pre>
            </div>
        </section>
    </md-tab>

    <md-tab label="Progress">
        <!-- Spinner -->
        <section>
            <button md-raised-button (click)="toggleCode('spinner')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.spinner" class="example-wrapper">
                <md-spinner></md-spinner>
            </div>

            <div class="label">Spinner</div>

            <div *ngIf="showCode.spinner" class="example-code" highlight-js-content>
                <pre><code>
                    &#60;md-spinner&#62;&#60;/md-spinner&#62;
                </code></pre>
            </div>
        </section>

        <!-- Bar -->
        <section>
            <button md-raised-button (click)="toggleCode('bar')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.bar" class="example-wrapper">
                <md-progress-bar mode="indeterminate"></md-progress-bar>

                <br><br>

                <md-progress-bar
                        color="primary"
                        mode="query">
                </md-progress-bar>

                <br><br>

                <md-progress-bar
                        color="primary"
                        mode="determinate"
                        value="50">
                </md-progress-bar>

                <br><br>

                <md-progress-bar
                        color="primary"
                        mode="buffer"
                        value="35"
                        bufferValue="65">
                </md-progress-bar>
            </div>

            <div class="label">Bar</div>

            <div *ngIf="showCode.bar" class="example-code" highlight-js-content>
                <pre><code>
                    &#60;md-progress-bar mode="indeterminate"&#62;&#60;/md-progress-bar&#62;

                    &#60;md-progress-bar
                            color="primary"
                            mode="query"&#62;
                    &#60;/md-progress-bar&#62;


                    &#60;md-progress-bar
                            color="primary"
                            mode="determinate"
                            value="50"&#62;
                    &#60;/md-progress-bar&#62;

                    &#60;md-progress-bar
                            color="primary"
                            mode="buffer"
                            value="35"
                            bufferValue="65"&#62;
                    &#60;/md-progress-bar&#62;
                </code></pre>
            </div>
        </section>
    </md-tab>

    <md-tab label="Navigation">
        <!-- Menu -->
        <section>
            <button md-raised-button (click)="toggleCode('menu')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.menu" class="example-wrapper">
                <button md-icon-button [mdMenuTriggerFor]="menu">
                    <md-icon>menu</md-icon>
                </button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item>
                        <md-icon>dialpad</md-icon>
                        <span>Redial</span>
                    </button>
                    <button md-menu-item disabled>
                        <md-icon>voicemail</md-icon>
                        <span>Check voicemail</span>
                    </button>
                    <button md-menu-item>
                        <md-icon>notifications_off</md-icon>
                        <span>Disable alerts</span>
                    </button>
                </md-menu>
            </div>

            <div class="label">Menu</div>

            <div *ngIf="showCode.menu" class="example-code" highlight-js-content>
                <pre><code>
                    &#60;button md-icon-button [mdMenuTriggerFor]="menu"&#62;
                      &#60;md-icon&#62;more_vert&#60;/md-icon&#62;
                    &#60;/button&#62;
                    &#60;md-menu #menu="mdMenu"&#62;
                      &#60;button md-menu-item&#62;
                        &#60;md-icon&#62;dialpad&#60;/md-icon&#62;
                        &#60;span&#62;Redial&#60;/span&#62;
                      &#60;/button&#62;
                      &#60;button md-menu-item disabled&#62;
                        &#60;md-icon&#62;voicemail&#60;/md-icon&#62;
                        &#60;span&#62;Check voicemail&#60;/span&#62;
                      &#60;/button&#62;
                      &#60;button md-menu-item&#62;
                        &#60;md-icon&#62;notifications_off&#60;/md-icon&#62;
                        &#60;span&#62;Disable alerts&#60;/span&#62;
                      &#60;/button&#62;
                    &#60;/md-menu&#62;
                </code></pre>
            </div>
        </section>

        <!-- Toolbar -->
        <section>
            <button md-raised-button (click)="toggleCode('toolbar')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.toolbar" class="example-wrapper">
                <md-toolbar color="primary">
                    <span>Custom Toolbar</span>

                    <md-toolbar-row>
                        <span>Second Line</span>
                        <span class="example-spacer"></span>
                        <md-icon class="example-icon">verified_user</md-icon>
                    </md-toolbar-row>

                    <md-toolbar-row>
                        <span>Third Line</span>
                        <span class="example-spacer"></span>
                        <md-icon class="example-icon">favorite</md-icon>
                        <md-icon class="example-icon">delete</md-icon>
                    </md-toolbar-row>
                </md-toolbar>
            </div>

            <div class="label">Toolbar</div>

            <div *ngIf="showCode.toolbar" class="example-code" highlight-js-content>
                <pre><code>
                    &#60;md-toolbar color="primary"&#62;
                        &#60;span&#62;Custom Toolbar&#60;/span&#62;

                        &#60;md-toolbar-row&#62;
                            &#60;span&#62;Second Line&#60;/span&#62;
                            &#60;span class="example-spacer"&#62;&#60;/span&#62;
                            &#60;md-icon class="example-icon"&#62;verified_user&#60;/md-icon&#62;
                        &#60;/md-toolbar-row&#62;

                        &#60;md-toolbar-row&#62;
                            &#60;span&#62;Third Line&#60;/span&#62;
                            &#60;span class="example-spacer"&#62;&#60;/span&#62;
                            &#60;md-icon class="example-icon"&#62;favorite&#60;/md-icon&#62;
                            &#60;md-icon class="example-icon"&#62;delete&#60;/md-icon&#62;
                        &#60;/md-toolbar-row&#62;
                    &#60;/md-toolbar&#62;
                </code></pre>
            </div>
        </section>

        <!-- Tabs -->
        <section>
            <button md-raised-button (click)="toggleCode('tabs')" color="accent" class="btn-toggle-code">
                <md-icon>code</md-icon>
            </button>

            <div *ngIf="!showCode.tabs" class="example-wrapper">
                <md-tab-group>
                    <md-tab label="Tab 1">Content 1</md-tab>
                    <md-tab label="Tab 2">Content 2</md-tab>
                </md-tab-group>
            </div>

            <div class="label">Tabs</div>

            <div *ngIf="showCode.tabs" class="example-code" highlight-js-content>
                <pre><code>
                    &#60;md-tab-group&#62;
                      &#60;md-tab label="Tab 1"&#62;Content 1&#60;/md-tab&#62;
                      &#60;md-tab label="Tab 2"&#62;Content 2&#60;/md-tab&#62;
                    &#60;/md-tab-group&#62;
                </code></pre>
            </div>
        </section>
    </md-tab>

    <md-tab label="Card">
        <!-- Card -->
        <md-card class="example-card">
            <md-card-header>
                <div md-card-avatar class="example-avatar-image"></div>
                <md-card-title>Shiba Inu</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button class="pull-left"><md-icon>thumb_up</md-icon> LIKE</button>
                <button md-button class="pull-right"><md-icon>share</md-icon> SHARE</button>
                <div style="clear: both"></div>
            </md-card-actions>
        </md-card>

        <!-- Code for card -->
        <md-card class="example-card">
            <md-card-content highlight-js-content>
                <pre><code class="example-code-card">
                    &#60;md-card class="example-card"&#62;
                        &#60;md-card-header&#62;
                            &#60;div md-card-avatar&#62;&#60;/div&#62;
                            &#60;md-card-title&#62;Shiba Inu&#60;/md-card-title&#62;
                            &#60;md-card-subtitle&#62;Dog Breed&#60;/md-card-subtitle&#62;
                        &#60;/md-card-header&#62;

                        &#60;img md-card-image src="shiba2.jpg"&#62;

                        &#60;md-card-content&#62;
                            &#60;p&#62;
                                The Shiba Inu is the smallest of the six original
                                and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with
                                mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                            &#60;/p&#62;
                        &#60;/md-card-content&#62;

                        &#60;md-card-actions&#62;
                            &#60;button md-button class="pull-left"&#62;
                                &#60;md-icon&#62;thumb_up&#60;/md-icon&#62; LIKE
                            &#60;/button&#62;
                            &#60;button md-button class="pull-right"&#62;
                                &#60;md-icon&#62;share&#60;/md-icon&#62; SHARE
                            &#60;/button&#62;
                            &#60;div style="clear: both"&#62;&#60;/div&#62;
                        &#60;/md-card-actions&#62;
                    &#60;/md-card&#62;
                </code></pre>
            </md-card-content>
        </md-card>
    </md-tab>

</md-tab-group>




