<md-tab-group>
    <md-tab label="Input elements">
        <div class="input-elements">
            <section>
                <md-input-container class="example-full-width">
                    <input mdInput placeholder="Disabled input" disabled value="Some value">
                </md-input-container>

                <md-input-container class="example-full-width">
                    <input mdInput placeholder="First name">
                </md-input-container>

                <md-input-container class="example-full-width">
                    <textarea mdInput placeholder="Text area">Some text</textarea>
                </md-input-container>

                <md-input-container class="example-full-width">
                    <input mdInput #postalCode maxlength="5" placeholder="Input with hint" value="12345">
                    <md-hint align="end">{{postalCode.value.length}} / 5</md-hint>
                </md-input-container>
                <div class="label">Input</div>
            </section>

            <section>
                <div class="example-group">
                    <md-checkbox [checked]="true">Checked</md-checkbox>
                    <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
                    <md-checkbox [disabled]="true">Disabled</md-checkbox>
                </div>
                <div class="label">Checkbox</div>
            </section>

            <section>
                <md-radio-group class="example-group" [(ngModel)]="favoriteSeason">
                    <md-radio-button *ngFor="let season of seasons" [value]="season">
                        {{season}}
                    </md-radio-button>
                </md-radio-group>
                <div class="label">Radio button</div>
            </section>

            <section>
                <md-input-container>
                    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                    <button mdSuffix [mdDatepickerToggle]="picker"></button>
                </md-input-container>
                <md-datepicker #picker></md-datepicker>
                <div class="label">Date picker</div>
            </section>

            <section>
                <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
                    <md-option *ngFor="let food of foods" [value]="food.id">
                        {{food.name}}
                    </md-option>
                </md-select>
                <div class="label">Select</div>
            </section>

            <section>
                <md-slider
                        [min]="0"
                        [max]="10"
                        [step]="1"
                        [thumb-label]="true"
                        [value]="value"
                ></md-slider>
                <div class="label">Slider</div>
            </section>
        </div>
    </md-tab>

    <md-tab label="Buttons">
        <div class="button-elements">
            <section>
                <button md-button>Button</button>
                <button md-button color="primary">Primary</button>
                <button md-button color="accent">Accent</button>
                <button md-button disabled="true" color="primary">Disabled</button>
                <button md-button color="warn">Warning</button>
                <div class="label">Flat</div>
            </section>
            <section>
                <button md-raised-button>Button</button>
                <button md-raised-button color="primary">Primary</button>
                <button md-raised-button color="accent">Accent</button>
                <button md-raised-button disabled="true" color="primary">Disabled</button>
                <button md-raised-button color="warn">Warn</button>
                <div class="label">Raised</div>
            </section>
            <section>
                <button md-fab>
                    <md-icon>cake</md-icon>
                </button>
                <button md-fab color="primary">
                    <md-icon>android</md-icon>
                </button>
                <button md-fab color="accent">
                    <md-icon>face</md-icon>
                </button>
                <button md-fab disabled="true">
                    <md-icon>comment</md-icon>
                </button>
                <button md-fab color="warn">
                    <md-icon>announcement</md-icon>
                </button>
                <div class="label">FAB</div>
            </section>
            <section>
                <a md-button [href]="googleUrl" target="_blank">Default Link</a>
                <a md-button color="primary" [href]="googleUrl" target="_blank">Primary Link</a>
                <a md-button color="accent" [href]="googleUrl" target="_blank">Accent Link</a>
                <a md-button disabled="true" color="primary" [href]="googleUrl" target="_blank">Disabled Link</a>
                <a md-button color="warn" [href]="googleUrl" target="_blank">Warn Link</a>
                <div class="label">Links</div>
            </section>
            <section >
                <button md-button title="Bookmark">
                    <md-icon>bookmark border</md-icon>
                </button>
                <button md-button color="primary" title="Settings">
                    <md-icon>menu</md-icon>
                </button>
                <button md-button color="accent" title="Favorite">
                    <md-icon>favorite</md-icon>
                </button>
                <a md-button href="http://google.com" title="Launch Google.com in new window"
                   target="_blank" disabled="true">
                    <md-icon>launch</md-icon>
                </a>
                <button md-button color="warn" title="More">
                    <md-icon>more_vert</md-icon>
                </button>
                <div class="label">Icon Button</div>
            </section>
        </div>

    </md-tab>

    <md-tab label="Card">
        <md-card class="example-card">
            <md-card-header>
                <div md-card-avatar class="example-avatar-image"></div>
                <md-card-title>Shiba Inu</md-card-title>
                <md-card-subtitle>Dog Breed</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
            <md-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button class="pull-left"><md-icon>thumb_up</md-icon> LIKE</button>
                <button md-button class="pull-right"><md-icon>share</md-icon> SHARE</button>
                <div style="clear: both"></div>
            </md-card-actions>
        </md-card>
    </md-tab>
</md-tab-group>




