.ng-invalid.ng-touched {
  .mat-radio-outer-circle {
    border: 2px solid #ff0000;
  }

  .mat-radio-label {
    color: #ff0000;
  }
}

.ng-invalid.ng-untouched,
.ng-valid.ng-touched {
  .mat-radio-outer-circle {
    border: 2px solid rgba(0,0,0,.54);
  }

  .mat-radio-label {
    color: rgba(0,0,0,.87);
  }
}