/* Global theme */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Local imports */
@import '_table.scss';
@import '_card.scss';
@import '_form.scss';

/* Global styles */
body {
    background-color: #fafafa;
    padding: 0 5em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.pull-left {
    float: left;
}
.pull-left:after {
    clear: left;
}

.pull-right {
    float: right;
}
.pull-right:after {
    clear: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.small {
    font-size: 0.8em;
}