/* Global theme */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Local imports */
@import '_table.scss';

/* Global styles */
body {
    background-color: #fafafa;
    padding: 0 5em;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.pull-left {
    float: left;
}
.pull-left:after {
    clear: left;
}

.pull-right {
    float: right;
}
.pull-right:after {
    clear: right;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.card-stand-alone {
    margin-top: 1em;
    margin-bottom: 1em;
}

.test123 {
    position: static;
    top: 0;
    right: 0;
}