.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fafafa;
    height: 4em;
    width: 100%;
    background-color: #673ab7;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.nav-header {
    padding: 1.5em 1em;
}

.nav-menu-bar {
    position: absolute;
    bottom: 0;
    right: 0;
}

.nav-menu-bar ul {
    list-style-type: none;
    margin-right: 3em;
}

.nav-menu-bar li {
    float: left;
    color: #fafafa;
    padding: 1.5em 1em;
}
.nav-menu-bar li:hover {
    background-color: rgba(255,255,255,0.20);
}
.nav-menu-bar li a {
    text-decoration: none;
}
