.card-header-full-width {
    width: calc(100% + 48px);
    margin: -24px -24px 16px -24px!important;
    padding-top: 20px;
}

.card-header-full-width .mat-card-title {
    font-size: 1.5em;
    margin-left: 1em;
}

code {
    margin-top: -1em;
}