<md-card class="card-stand-alone">
    <md-card-header class="card-header-full-width mat-toolbar mat-accent">
        <md-card-title>Basic service</md-card-title>
    </md-card-header>
    <md-card-content>
        <h3>Output:</h3>
        <ul>
            <li *ngFor="let vehicle of vehiclesSimple">
                {{vehicle.name}}
            </li>
        </ul>

        <hr>

        <button md-raised-button (click)="toggleCode('services')" color="accent" class="btn-toggle-code pull-right">
            <md-icon>code</md-icon>
        </button>
        <div style="clear: both"></div>

        <div *ngIf="code.services.show" >
            <h3>Code:</h3>
            <pre highlight-js-content><code>{{code.services.text}}</code></pre>
        </div>

    </md-card-content>
</md-card>

<md-card class="card-stand-alone">
    <md-card-header class="card-header-full-width mat-toolbar mat-accent">
        <md-card-title>Service with Http</md-card-title>
    </md-card-header>
    <md-card-content>
        <h3>Output:</h3>
        <ul>
            <li *ngFor="let vehicle of vehiclesHttp | async">
                {{vehicle.name}}
            </li>
        </ul>

        <hr>

        <button md-raised-button (click)="toggleCode('async')" color="accent" class="btn-toggle-code pull-right">
            <md-icon>code</md-icon>
        </button>
        <div style="clear: both"></div>

        <div *ngIf="code.async.show" >
            <h3>Code:</h3>
            <pre highlight-js-content><code>{{code.async.text}}</code></pre>
        </div>

    </md-card-content>
</md-card>
